* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    --clr-light: rgb(114, 203, 241);
    --clr-light-rgba: rgba(131, 208, 242, 0.5);
  }
  
  body {
      background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  

  
  input {
    border: 1px solid rgb(138, 136, 136);
    border-radius: 5px;
    font-size: 0.75em;
    padding: 0.45em;
    margin: 1em;
}