

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.results {
    margin: 0 auto;
    width: 75%;
}

.no-search { 
    padding-top: 2em;
}


.results {
    min-height: 300px;
}
