.button {
    margin: auto 1em;
    min-height: 2em;
    padding: 0 1em;
    border-radius: 5px;
    background-color: var(--clr-light);
    border: none;
    transition: transform 0.2s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}