.hero {
  position: relative;
  text-align: center;
  border: none;
  max-width: 80%;
  margin: 2em auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.hero-text {
  padding: 0.75em;
  font-size: 1.25em;
  font-weight: 500
}