.card {
  margin: 0 auto;
  border: none;
  max-width: 80%;
  border-radius: 10px;
}

.card-body {
  padding: 0.5em;
}

.card-title {
  text-transform: uppercase;
  margin: 0.5em auto;
  font-size: 2em;
}
